<a href="https://colab.research.google.com/github/IcYy17/Interviews/blob/main/mongo/Step7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This will tell you your current IP address from google colab
!curl api.ipify.org

34.32.152.55

In [2]:
# Install needed python packages
%pip install pymongo
%pip install pandas

Collecting pymongo
  Downloading pymongo-4.11.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.11.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 27.2 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 13.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.11.2
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
# Download us-counties.csv
!curl -L "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv" > us-counties.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 99.9M  100 99.9M    0     0  23.1M      0  0:00:04  0:00:04 --:--:-- 23.1M

In [4]:
import pymongo

user = "inash" # Your user from your mongodb project
password = "inash"
connectionUrl = f"mongodb+srv://{user}:{password}@cs452.6wjbi.mongodb.net/?retryWrites=true&w=majority&appName=cs452"
client = pymongo.MongoClient(connectionUrl)
print(f"Ping result: {client.admin.command('ping')}")

Ping result: {'ok': 1}

In [5]:
# Create or get your DB
db_name = "CS452_Mongo_Covid"
db = client.get_database(db_name)

Spark SQL Rewrite in MongoDB 1-6

*Redo the SparkSQL assignment in MongoDB using the aggregation pipeline.*

In [17]:
# 1. Write code to define the schema and then read in the dataset
#

import pandas

# Load the CSV file
df = pandas.read_csv('./us-counties.csv')
data = df.to_dict('records')
db.casesdeaths.drop()
db.casesdeaths.insert_many(data)
print("done")

done

In [18]:
# 2. Write code to find the county with the most deaths

res = db.casesdeaths.find({},{"_id":0, "state":1, "county":1, "deaths":1}).sort({"deaths":-1}).limit(1)
list(res)

[{'county': 'New York City', 'state': 'New York', 'deaths': 40267.0}]

In [19]:
# 3. Write code to find the county with the most cases
result = db.casesdeaths.aggregate([
    {"$group": {"_id": {"county": "$county", "state": "$state"}, "total_cases": {"$max": "$cases"}}},
    {"$sort": {"total_cases": -1}},
    {"$limit": 1}
])

print(list(result))

[{'_id': {'county': 'Los Angeles', 'state': 'California'}, 'total_cases': 2908425}]

In [20]:
# 4. Write code to find the total number of deaths in Utah county
result = db.casesdeaths.aggregate([
    {"$match": {"state": {"$regex": "^Utah$", "$options": "i"}, "county": {"$regex": "^Utah$", "$options": "i"}}},
    {"$group": {"_id": None, "total_deaths": {"$sum": "$deaths"}}}
])

print(list(result))

[{'_id': None, 'total_deaths': 270727.0}]

In [21]:
valid_states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut",
    "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa",
    "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan",
    "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire",
    "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio",
    "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota",
    "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia",
    "Wisconsin", "Wyoming"
]

result = db.casesdeaths.aggregate([
    {"$match": {"cases": {"$gt": 0}, "state": {"$in": valid_states}}},
    {
        "$group": {
            "_id": "$state",
            "total_deaths": {"$sum": "$deaths"},
            "total_cases": {"$sum": "$cases"}
        }
    },
    {
        "$project": {
            "state": "$_id",
            "_id": 0,
            "death_rate": {"$multiply": [{"$divide": ["$total_deaths", "$total_cases"]}, 100]}
        }
    },
    {"$sort": {"death_rate": -1}},
    {"$limit": 50}
])


import pandas as pd
df = pd.DataFrame(list(result))
print(df)

             state  death_rate
0       New Jersey    2.459931
1         New York    2.326650
2      Connecticut    2.295192
3    Massachusetts    2.215066
4     Pennsylvania    2.051550
5      Mississippi    1.958123
6         Michigan    1.939261
7        Louisiana    1.911673
8         Maryland    1.860793
9          Arizona    1.744178
10      New Mexico    1.733138
11         Alabama    1.721417
12         Georgia    1.668212
13         Indiana    1.638613
14          Nevada    1.596457
15        Illinois    1.583022
16            Ohio    1.580056
17           Texas    1.554626
18    Rhode Island    1.536780
19   West Virginia    1.534538
20        Arkansas    1.512023
21        Missouri    1.481202
22         Florida    1.463237
23  South Carolina    1.453312
24        Delaware    1.417147
25        Virginia    1.416236
26            Iowa    1.415777
27    South Dakota    1.403414
28        Oklahoma    1.386842
29       Tennessee    1.329291
30         Montana    1.316018
31      California    1.314373
32        Kentucky    1.278623
33          Kansas    1.274894
34    North Dakota    1.194470
35          Oregon    1.176749
36        Colorado    1.158779
37         Wyoming    1.156263
38   New Hampshire    1.150444
39      Washington    1.141021
40           Idaho    1.129557
41  North Carolina    1.123005
42       Minnesota    1.118366
43           Maine    1.117685
44       Wisconsin    1.015261
45        Nebraska    0.987067
46          Hawaii    0.854887
47         Vermont    0.772572
48            Utah    0.535833
49          Alaska    0.500231

In [22]:
# 6. Write code to something else interesting with this data – your choice
result = db.casesdeaths.aggregate([
    {"$match": {"cases": {"$gt": 0}}},  # Exclude records with 0 cases
    {
        "$group": {
            "_id": "$state",
            "total_deaths": {"$sum": "$deaths"},
            "total_cases": {"$sum": "$cases"}
        }
    },
    {
        "$project": {
            "state": "$_id",
            "_id": 0,
            "death_rate": {"$multiply": [{"$divide": ["$total_deaths", "$total_cases"]}, 100]}
        }
    },
    {"$match": {"death_rate": {"$gt": 1}}},
    {"$sort": {"death_rate": -1}}
])

import pandas as pd
df = pd.DataFrame(list(result))
print(df)

                   state  death_rate
0             New Jersey    2.459931
1               New York    2.326650
2            Connecticut    2.295192
3          Massachusetts    2.215066
4           Pennsylvania    2.051550
5            Mississippi    1.958123
6               Michigan    1.939261
7              Louisiana    1.911673
8               Maryland    1.860793
9   District of Columbia    1.797258
10               Arizona    1.744178
11            New Mexico    1.733138
12               Alabama    1.721417
13               Georgia    1.668212
14               Indiana    1.638613
15                Nevada    1.596457
16              Illinois    1.583022
17                  Ohio    1.580056
18                 Texas    1.554626
19          Rhode Island    1.536780
20         West Virginia    1.534538
21              Arkansas    1.512023
22              Missouri    1.481202
23               Florida    1.463237
24        South Carolina    1.453312
25              Delaware    1.417147
26              Virginia    1.416236
27                  Iowa    1.415777
28          South Dakota    1.403414
29              Oklahoma    1.386842
30             Tennessee    1.329291
31               Montana    1.316018
32            California    1.314373
33              Kentucky    1.278623
34                Kansas    1.274894
35          North Dakota    1.194470
36                Oregon    1.176749
37              Colorado    1.158779
38               Wyoming    1.156263
39         New Hampshire    1.150444
40            Washington    1.141021
41                 Idaho    1.129557
42        North Carolina    1.123005
43             Minnesota    1.118366
44                 Maine    1.117685
45                  Guam    1.067849
46             Wisconsin    1.015261

In this next part we will get experience using MongoDB's aggegregation pipeline's $lookup stage to join collections in MongoDb. Specifically we'll join to our **cases/deaths data** with **[vaccination data](https://ourworldindata.org/us-states-vaccinations#what-share-of-the-population-has-completed-the-initial-vaccination-protocol)** and **[total population data](https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/co-est2019-alldata.csv)**.  First we need to download and ingest the data.

In [23]:
# Get the CSV for covid vaccination data
!curl -L "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/us_state_vaccinations.csv" > "./us_state_vaccinations.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4804k  100 4804k    0     0  10.8M      0 --:--:-- --:--:-- --:--:-- 10.8M

In [25]:
# Put the vaccinations data into the the DB  (took me 37 seconds)
import csv

with open("./us_state_vaccinations.csv") as f:
  dataRows = csv.DictReader(f)
  db.vaccinations.insert_many(dataRows)

df = pandas.read_csv('./us_state_vaccinations.csv')
data = df.to_dict('records')
db.vaccinations.drop()
db.vaccinations.insert_many(data)
print("Done!")

Done!

In [26]:
# Get the total population (Use POPESTIMATE2019)
!curl -L "https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/co-est2019-alldata.csv" > "./co-est2019-alldata.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 3559k    0 3559k    0     0  3454k      0 --:--:--  0:00:01 --:--:-- 3452k

In [29]:
# Put population data into the DB (took me 10 seconds)
# with open("./co-est2019-alldata.csv", encoding='latin-1') as f:
#   dataRows = csv.DictReader(f)
#   db.population.insert_many(dataRows)


df = pandas.read_csv('./co-est2019-alldata.csv', encoding='latin-1')
data = df.to_dict('records')
db.populations.drop()
db.populations.insert_many(data)
print("Done!")

Done!

Using the aggregation pipeline and the \$out stage create a new dataset that just maps the state to total counts. Do this for all three data sets so you have:

casesdeaths_state = (state, cases, deaths)

populations_state = (state, population)

vaccinations_state = (state, vaccinations)

In [35]:
# Create the casesdeaths_state collection (remember the counties have a running sum by date, taking the max of each county, then summing by state is correct math)
db.casesdeaths.aggregate([
    {
        "$group": {
            "_id": {"state": "$state", "county": "$county"},
            "max_cases": {"$max": "$cases"},
            "max_deaths": {"$max": "$deaths"}
        }
    },
    # cases & deaths per state
    {
        "$group": {
            "_id": "$_id.state",
            "total_cases": {"$sum": "$max_cases"},
            "total_deaths": {"$sum": "$max_deaths"}
        }
    },
    {
        "$project": {
            "state": "$_id",
            "_id": 0,
            "total_cases": 1,
            "total_deaths": 1
        }
    },
    {"$out": "casesdeaths_state"}
])

Created `casesdeaths_state` collection successfully.

In [45]:
# Create the populations_state collection (this dataset is interesting in that there is a "county 0" in each state that represents the state population total)
db.populations.aggregate([

    {
        "$match": {
            "COUNTY": 0
        }
    },
    {
        "$project": {
            "state": "$STATE",
            "_id": 0,
            "total_population": "$POPESTIMATE2019"
        }
    },
    {"$out": "populations_state"}
])

Recreated `populations_state` with correct state names.

In [63]:
# Create the vaccinations_state collection (this dataset is by state and date. You don't want the sum of all the dates, as the data is a running sum)
db.vaccinations.aggregate([
    {
        "$group": {
            "_id": "$location",
            "latest_date": {"$max": "$date"}
        }
    },

    {
        "$lookup": {
            "from": "vaccinations",
            "let": {"state_name": "$_id", "latest_date": "$latest_date"},
            "pipeline": [
                {
                    "$match": {
                        "$expr": {
                            "$and": [
                                {"$eq": ["$location", "$$state_name"]},
                                {"$eq": ["$date", "$$latest_date"]}
                            ]
                        }
                    }
                }
            ],
            "as": "latest_vaccination_data"
        }
    },

    {"$unwind": "$latest_vaccination_data"},
    {
        "$project": {
            "state": "$_id",
            "_id": 0,
            "total_vaccinations": "$latest_vaccination_data.total_vaccinations"  # Adjust if needed
        }
    },
    {"$out": "vaccinations_state"}
])

print(db.list_collection_names())

['casesdeaths', 'populations', 'populations_state', 'casesdeaths_state', 'state_summary', 'vaccinations', 'vaccinations_state']

Use the \$lookup stage of the aggregation pipeline to join your three data sets by state. Note this won't be a perfect join - to find out why look at the states or even the count of states in each set.

In [54]:
print(list(db.state_summary.aggregate([{"$limit": 5}])))

[{'_id': ObjectId('67d79938add45f5adb7705b4'), 'total_cases': 2092406, 'total_deaths': 26421.0, 'state': 'Tennessee', 'total_vaccinations': 11323319.0}, {'_id': ObjectId('67d79938add45f5adb7705b5'), 'total_cases': 411408, 'total_deaths': 3744.0, 'state': 'Rhode Island', 'total_vaccinations': 2672092.0}, {'_id': ObjectId('67d79938add45f5adb7705b6'), 'total_cases': 1643840, 'total_deaths': 14521.0, 'state': 'Wisconsin', 'total_vaccinations': 12444016.0}, {'_id': ObjectId('67d79938add45f5adb7705b7'), 'total_cases': 2316898, 'total_deaths': 33632.0, 'state': 'New Jersey', 'total_vaccinations': 19826065.0}, {'_id': ObjectId('67d79938add45f5adb7705b8'), 'total_cases': 1129646, 'total_deaths': 14604.0, 'state': 'Oklahoma', 'total_vaccinations': 6773461.0}]

In [62]:
# Report the state, infection rate (cases/population), death rate (deaths/population), vaccination rate (vaccinated_people/population).
result = db.state_summary.aggregate([
    {
        "$lookup": {
            "from": "populations_state",
            "localField": "state",
            "foreignField": "state",
            "as": "population_data"
        }
    },
    {
        "$unwind": "$population_data"
    },
    {
        "$project": {
            "state": 1,
            "total_population": "$population_data.total_population",
            "infection_rate": {
                "$cond": {
                    "if": {"$gt": ["$population_data.total_population", 0]},
                    "then": {"$divide": ["$total_cases", "$population_data.total_population"]},
                    "else": None
                }
            },
            "death_rate": {
                "$cond": {
                    "if": {"$gt": ["$population_data.total_population", 0]},
                    "then": {"$divide": ["$total_deaths", "$population_data.total_population"]},
                    "else": None
                }
            },
            "vaccination_rate": {
                "$cond": {
                    "if": {"$gt": ["$population_data.total_population", 0]},
                    "then": {"$divide": ["$total_vaccinations", "$population_data.total_population"]},
                    "else": None
                }
            }
        }
    }
])

import pandas as pd
df = pd.DataFrame(list(result))

from IPython.display import display
display(df)

,_id,state,total_population,infection_rate,death_rate,vaccination_rate
0,67d79938add45f5adb7705b4,Tennessee,6829174,0.306392,0.003869,1.658080
1,67d79938add45f5adb7705b5,Rhode Island,1059361,0.388355,0.003534,2.522362
2,67d79938add45f5adb7705b6,Wisconsin,5822434,0.282329,0.002494,2.137253
3,67d79938add45f5adb7705b7,New Jersey,8882190,0.260848,0.003786,2.232114
4,67d79938add45f5adb7705b8,Oklahoma,3956971,0.285483,0.003691,1.711779
5,67d79938add45f5adb7705b9,New York,19453561,0.270767,0.003552,NaN
6,67d79938add45f5adb7705ba,Hawaii,1415872,0.177826,0.001015,2.493415
7,67d79938add45f5adb7705bb,Idaho,1787065,0.252452,0.002782,1.619617
8,67d79938add45f5adb7705bd,Oregon,4217737,0.175531,0.001796,2.228488
9,67d79938add45f5adb7705bf,Montana,1068778,0.257735,0.003165,1.749931
10,67d79938add45f5adb7705c0,Illinois,12671821,0.254671,0.003000,2.119612
11,67d79938add45f5adb7705c1,Indiana,6732219,0.255112,0.003515,1.663803
12,67d79938add45f5adb7705c2,South Carolina,5148714,0.287770,0.003471,1.683256
13,67d79938add45f5adb7705c3,Wyoming,578759,0.271381,0.003139,1.475799
14,67d79938add45f5adb7705c4,Alabama,4903185,0.266097,0.004003,1.431317
15,67d79938add45f5adb7705c5,Utah,3205958,0.294213,0.001488,1.921064
16,67d79938add45f5adb7705c6,Georgia,10617423,0.235272,0.003461,1.612895
17,67d79938add45f5adb7705c7,Texas,28995881,0.234996,0.003050,1.810951
18,67d79938add45f5adb7705c8,Maine,1344212,0.189550,0.001738,2.635258
19,67d79938add45f5adb7705c9,South Dakota,884659,0.269824,0.003302,1.909189
20,67d79938add45f5adb7705ca,Colorado,5758736,0.245261,0.002214,2.263248
21,67d79938add45f5adb7705cb,California,39512223,0.237564,0.002303,2.239506
22,67d79938add45f5adb7705cc,North Carolina,10488084,0.256955,0.002347,1.853012
23,67d79938add45f5adb7705ce,Missouri,6137428,0.238166,0.003354,1.712285
24,67d79938add45f5adb7705cf,Ohio,11689100,0.233152,0.003300,1.805509
25,67d79938add45f5adb7705d0,Iowa,3155070,0.251764,0.003032,1.943249
26,67d79938add45f5adb7705d1,Louisiana,4648794,0.274625,0.003772,1.497475
27,67d79938add45f5adb7705d2,Massachusetts,6892503,0.262504,0.003459,2.637612
28,67d79938add45f5adb7705d3,Mississippi,2976149,0.269317,0.004203,1.447386
29,67d79938add45f5adb7705d4,North Dakota,762062,0.321256,0.003046,1.724885
30,67d79938add45f5adb7705d6,Kansas,2913314,0.268352,0.003330,1.849413
31,67d79938add45f5adb7705d7,Nevada,3080156,0.242019,0.003565,1.815065
32,67d79938add45f5adb7705d8,Nebraska,1934408,0.254387,0.002230,1.975897
33,67d79938add45f5adb7705da,District of Columbia,705749,0.203958,0.001899,3.028523
34,67d79938add45f5adb7705db,Vermont,623989,0.229168,0.001063,2.824670
35,67d79938add45f5adb7705dc,Connecticut,3565287,0.218762,0.003065,2.535838
36,67d79938add45f5adb7705dd,Minnesota,5639632,0.265403,0.002278,2.274819
37,67d79938add45f5adb7705de,Kentucky,4467673,0.301349,0.003524,1.680995
38,67d79938add45f5adb7705df,Arizona,7278717,0.279025,0.004155,2.012361
39,67d79938add45f5adb7705e0,Virginia,8535519,0.204053,0.002399,2.297244
40,67d79938add45f5adb7705e1,West Virginia,1792147,0.282082,0.003866,1.728971
41,67d79938add45f5adb7705e2,New Hampshire,1359711,0.235874,0.001861,2.193938
42,67d79938add45f5adb7705e3,Florida,21477737,0.294686,0.003998,1.967962
43,67d79938add45f5adb7705e4,Pennsylvania,12801989,0.222650,0.003501,2.154855
44,67d79938add45f5adb7705e5,Washington,7614893,0.201548,0.001687,2.327476
45,67d79938add45f5adb7705e6,Maryland,6045680,0.186631,0.002453,2.435172
46,67d79938add45f5adb7705e7,New Mexico,2096829,0.251093,0.003637,2.265630
47,67d79938add45f5adb7705e8,Michigan,9986857,0.247608,0.003620,1.879382
48,67d79938add45f5adb7705e9,Delaware,973764,0.275091,0.003011,2.227567
49,67d79938add45f5adb7705ea,Arkansas,3017804,0.277770,0.003784,1.615112
50,67d79938add45f5adb7705eb,Alaska,731545,0.347849,0.001680,1.815638

In [61]:
# Is there a correlation between infection or death rates with the vaccination rate for each state?
df = df.dropna()


correlation_matrix = df[["infection_rate", "death_rate", "vaccination_rate"]].corr()


print(correlation_matrix)

                  infection_rate  death_rate  vaccination_rate
infection_rate          1.000000    0.429737         -0.408364
death_rate              0.429737    1.000000         -0.569637
vaccination_rate       -0.408364   -0.569637          1.000000

In [60]:
# Ask an interesting question that might be answered with this dataset and answer it.

#Which state has the highest death rate relative to its total cases?

result = db.state_summary.aggregate([
    {
        "$project": {
            "state": 1,
            "death_rate": {
                "$cond": {
                    "if": {"$gt": ["$total_cases", 0]},
                    "then": {"$divide": ["$total_deaths", "$total_cases"]},
                    "else": None
                }
            }
        }
    },
    {"$sort": {"death_rate": -1}},
    {"$limit": 1}
])

import pandas as pd
df_highest_death_rate = pd.DataFrame(list(result))

print(df_highest_death_rate)

                        _id         state  death_rate
0  67d79938add45f5adb7705e4  Pennsylvania    0.015723